@media screen and (max-width: 799px) {
  .container {
    background-color: black;
    width: 80vw;
    grid-template-columns: 2vw 76vw 2vw;
  }
}

@media screen and (min-width: 800px) {
  .container {
    background-color: #0000ff;
    width: 40vw;
    grid-template-columns: 1vw 38vw 1vw;
  }
}

.container {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-rows: 6vw 1fr;
}

#todo {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  background-color: orange;
  display: flex;
  gap: 2%;
}

#input {
  width: 80%;
}

#submit {
  width: 18%;
}

#items {
  background-color: yellow;
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  flex-direction: column;
}

.item {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.unchecked {
}

.checked {
}

.item button {
  width: 12%;
  height: 100%;
  background-color: blue;
}

.label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 76%;
  font-size: 2.5vh;
}